language: python

python: "3.6"

# don't clone more than necessary
git:
  depth: 1

# Install dependencies
install:
  - pip install -r requirements.txt

env:
  - TRAVIS_SECURE_ENV_VARS=true

before_script:
  - cp .env.example .env
  - python manage.py makemigrations
  - python manage.py migrate
  - python manage.py collectstatic

# script to run tests. Script can have many commands, one per line.
script:
  - coverage run manage.py test

