body {
<<<<<<< HEAD
  /* background-image: url("pic2.jpeg"); */
=======
>>>>>>> master
  background-image:url("images/bg3.jpg");
}
.even-box{
  position:relative;
  margin: 10px auto;
  width: 800px;
  height: 385px;
  background-color:whitesmoke;
  padding: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
<<<<<<< HEAD
  opacity: 0.95;
} 
=======
  opacity: 0.7;
}
>>>>>>> master
.even-box1{
  position:relative;
  margin: 10px auto;
  width: 800px;
  height: 200px;
<<<<<<< HEAD
  background-color: rgb(202, 218, 202);
=======
  background-color: rgb(204, 240, 243);
>>>>>>> master
  padding: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
<<<<<<< HEAD
  opacity: 0.95;
  
} 
=======
  opacity: 0.85;
}
>>>>>>> master
.lb-header{
  position:relative;
  color: #00415d;
  margin: 5px 5px 10px 5px;
  padding-bottom:10px;
  border-bottom: 1px solid #eee;
  text-align:center;
  height:28px;
}
.lb-header i{
  margin: 0 25px;
  padding: 0 20px;
  text-decoration: none;
<<<<<<< HEAD
  color: rgb(80, 112, 91);
=======
  color: rgb(22, 22, 22);
>>>>>>> master
  font-weight: bold;
  font-size: 30px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.lb-header s{
  margin: 0 25px;
  padding: 0 20px;
  text-decoration: none;
  color: rgb(56, 56, 56);
  font-weight: bold;
  font-size: 20px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  margin-top:12%;
  margin-left:39%;
}

.btn:hover {background: #eee;}

<<<<<<< HEAD
.Event {color:rgb(56, 56, 56)}
=======
.Event {color:rgb(56, 56, 56)}
>>>>>>> master
