body {
  background-image:url("images/bg3.jpg");
}
.even-box{
  position:relative;
  margin: 10px auto;
  width: 800px;
  height: 500px;
  background-color:ghostwhite;
  padding: 20px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
  opacity: 0.7;
}

.lb-header{
  position:relative;
  color: #00415d;
  margin: 5px 5px 10px 5px;
  padding-bottom:10px;
  border-bottom: 1px solid #eee;
  text-align:center;
  height:28px;
}

