{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'signup.css' %}"> 
<body bgcolor="pink">
<form action="action_page.php" style="border:1px solid #ccc">
        <div class="container">
          <h1>Sign Up</h1>

          <label for="user"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="user" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
      
          <label for="psw-confirm"><b>Password Confirmation</b></label>
          <input type="password" placeholder="Password Confirmation" name="psw-repeat" required>
      
      
          <div class="clearfix">
            <button type="submit" class="signupbtn">Sign Up</button>
          </div>
        </div>
</form>
<p size="4" style="color:gray">01</p>
<p class="pass" >Required 150 characters or fewer.Letters,digits and @/./+/_ only</p>
<dl size="4" style="color:gray">
    <dt>02
    <dd>Your password can't be too similar to your otheer personal information
    <dd>ภาคใต้
    <dd>อีสาน
    <dd>กลาง
</dl>
</body>
</head>
