{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'myform/contact.css' %}">


<style>
                               
div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}
</style>


<div class="scrollmenu">
    <a href="{% url 'myform:event' %}">Event</a>
    <a href="{% url 'myform:contact' %}">Contact</a>
    <a href="{% url 'logout'%}?next={{request.path}}">Logout</a>
    <div style="position: absolute; left: 1160px; top: 10px; font-size: 0.9rem; color:white;"> 
        <p>Hello {{ user.first_name|default:user.username}}!</p>
    </div>
</div>


<div class="contact-box" >
    <div class="text">
        <p ><b>Github</b></p>
        <a href="https://github.com/JirawadeeSampusri" style="color:white"><p>JirawadeeSampusri</p></a>
        <a href="https://github.com/ChatchapongC" style="color:white"><p>Chatchapong Chumpada</p></a>
        <a href="https://github.com/ingkharatj" style="color:white"><p>Ingkharat Jangchud</p></a>
    </div>
</div>




