{% load static %}

<link rel="stylesheet" href="{% static 'myform/eventlist.css' %}">
<div class="even-box">
    <div id="event-body">
        <div id="shortanswer" class="answer-box">
                <div>
                    <p class="btn" style="font-size: 1rem" style="color:rgb(194, 184, 184)">Event Name</p>
                    <div class="u-form-group1">
                        <input type="question" placeholder="Type Event Name" />
                    </div>
                    <p class="btn1" style="font-size: 1rem" style="color:rgb(194, 184, 184)">Question</p>
                    <div class="dropdown">
                        <button class="dropbtn">Select answer type</button>
                        <div class="dropdown-content">
                            <div id="myBtn">
                                 <a>Short Answer</a>
                            </div>
                            <div id="myMulti">
                                 <a>Multiple Choice</a>
                            </div>
                            <div id="myBool">
                                 <a>Yes or No</a>
                            </div>
                           
                        </div>
                    </div>
            
                    
                </div>
            </div>
            
        <div id="myModal" class="modal">

        <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <div>
                    <p class="btn" style="font-size: 1rem" style="color:rgb(255, 255, 255)">Question</p>
                    <div class="u-form-group1">
                        <input type="question" placeholder="Type Question" />
                    </div>
                    <p class="btn1" style="font-size: 1rem" style="color:rgb(194, 184, 184)">Answer</p>
                    <div class="u-form-group1">
                        <input type="shortanswer" placeholder="Type Answer" />
                   </div>
                   <button class="submit">submit</button>
                </div>
            </div>
        </div>
        
        <div id="Multiple" class="multi">  

        <!-- Multi content -->
            <div class="multi-content">
                <span class="close">&times;</span>
                <div>
                    <p class="btn" style="font-size: 1rem" style="color:rgb(194, 184, 184)">Question</p>
                    <div class="u-form-group1">
                        <input type="question" placeholder="Type Question" />
                    </div>
                    <p class="btn1" style="font-size: 1rem" style="color:rgb(194, 184, 184)">Answer</p>
                    <style> 
                    input[type=text] {
                    width: 60%;
                    padding: 10px 20px;
                    margin: 8px 0;
                    margin-left: 100px;
                    box-sizing: border-box;
                    border: none;
                    border-bottom: 2px solid gray;
                    opacity: 0.9;
                    }
                    </style>
                    <form>
                        <div>
                            <input type="checkbox"  name="scales"
                                checked>
                            <label for="scales"><input type="text" placeholder="Type choice" name="fname"></label>
                        </div>  
                        <div>
                            <input type="checkbox" name="scales"
                                checked>
                            <label for="scales"><input type="text" placeholder="Type choice" name="fname"></label>
                        </div>  
                        <div>
                                <input type="checkbox" name="scales"
                                    checked>
                                <label for="scales"><input type="text" placeholder="Type choice" name="fname"></label>
                        </div>  
                    
                    </form>
                    <button class="submit">submit</button>
            </div>
        </div>
        </div>
 
        <div id="Bool" class="yesorno"> 
        <!-- bool content -->
            <div class="bool-content">
                <span class="close">&times;</span>
                <p class="btn" style="font-size: 1rem" style="color:rgb(194, 184, 184)">Question</p>
                <div class="u-form-group1">
                    <input type="question" placeholder="Type Question" />
                </div>
                <p class="btn1" style="font-size: 1rem" style="color:rgb(194, 184, 184)">Answer</p>
                <div style="position: absolute; left:400px; top:300px;">
                        <input type="checkbox" > Yes<br>
                </div>  
                <div style="position: absolute; left:400px; top:330px;">
                        <input type="checkbox" > No<br>
                </div>  
                <button class="submit">submit</button>
            </div>
        </div>   
        
        <script>
        var modal = document.getElementById("myModal");

        var multi = document.getElementById("Multiple");

        var yesorno = document.getElementById("Bool");

        var btn = document.getElementById("myBtn");
         
        var mtp = document.getElementById("myMulti")

        var bol = document.getElementById("myBool")

        var spanshort = document.getElementsByClassName("close")[0];

        var spanmulti = document.getElementsByClassName("close")[1];

        var spanbool = document.getElementsByClassName("close")[2];

        // var span = document.getElementsByClassName("close")[0];

        btn.onclick = function() {
        modal.style.display = "block";
        multi.style.display = "none";
        yesorno.style.display = "none";
        }

        mtp.onclick = function() {
        multi.style.display = "block";
        modal.style.display = "none";
        yesorno.style.display = "none";
        }

        bol.onclick = function() {
        yesorno.style.display = "block";
        multi.style.display = "none";
        modal.style.display = "none";
        }

        spanshort.onclick = function() {
        modal.style.display = "none";
        multi.style.display = "none";
        yesorno.style.display = "none";
        }
        
        spanmulti.onclick = function() {
        modal.style.display = "none";
        multi.style.display = "none";
        yesorno.style.display = "none";
        }

        spanbool.onclick = function() {
        modal.style.display = "none";
        multi.style.display = "none";
        yesorno.style.display = "none";
        }
        
        window.onclick = function(event) {
        if (event.target == modal) {
            // modal.style.display = "none";
            multi.style.display = "none";
        }
        elif (event.target == multi); {
            // modal.style.display = "none";
            multi.style.display = "none";
        }
        elif (event.target == yesorno); {
            // modal.style.display = "none";
            yesorno.style.display = "none";
        }
        }
        
        </script>
