{% load static %}
<link rel="stylesheet" href="{% static 'myform/eventlist.css' %}">
{% if user.is_authenticated %}
{% if messages %}
<div class="alert">
    {% for message in messages %}
        {% if message.tags %}
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>{{ message.tags }}</strong> {{message}}.
        {% endif %}
    {% endfor %}
</div>
{% endif %}
<div class="even-box" id="evenbox">
    <div id="event-body">
        <div id="shortanswer" class="answer-box">
            <div>
                <p class="btn" style="font-size: 3rem" style="color:rgb(36, 53, 14)">{{event}}</p>
                <div class="u-form-group1">
<!--                    {% for message in messages %}-->
<!--                    <div class="alert alert-warning text-center">-->
<!--                    <a class="close" href="#" data-dismiss="alert">×</a><strong>Sorry!</strong> {{ message }}-->
<!--                    </div>-->
<!--                    {% endfor %}-->
                    <form action="{% url 'myform:save' event.id %}" method="POST">
                        {%csrf_token%}
                        {% for question in question_list %}
                        <p>{{question}}</p>
                        <input type="text" value="" name="new">
                        <input type="hidden" value="{{question.id}}" name="id">
                        <button type="submit">Submit</button>
                        {% endfor %}
                    </form>
                    <form action="{% url 'myform:edit' event.id %}">
                        <button type="submit">Edit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}