{% load static %}
<link rel="stylesheet" href="{% static 'myform/evenlist.css' %}"> 
<div class="even-box">
    <div class="u-form-group">
        <input type="eventname" placeholder="Event Name"/>
    </div>
    <p class="btn" style="font-size: 1rem" style="color:rgb(194, 184, 184)">Question</p>
    <div class="u-form-group1">
            <input type="question" placeholder="Type Question"/>
    </div>
    <p class="btn" style="font-size: 1rem" style="color:rgb(194, 184, 184)">Answer</p>
</div> 


