{% load static %}
{% block content %}
    {% if user.is_authenticated %}
        <p>Hello {{ user.first_name|default:user.username}}!</p>
        {% for ass in backends.associated %}
            {% if ass.provider == 'facebook' %}
                <div class="col-md-6 text-center">
                    <img src="{{ass.extra_data.picture.data.url}}" alt="" width="150" height="150" style="border-radius: 50%">
                </div>
                <div class="col-md-6 social-container my-2">                 <p> Signed in via:  {{ ass.provider }} </p>
                    <p> Name:  {{ ass.extra_data.name }} </p>

                </div>
            {% endif %}
            {% if ass.provider == 'google-oauth2' %}
                <div class="col-md-6 text-center">
                    <img src="{{ass.extra_data.picture.data.url}}" alt="" width="150" height="150" style="border-radius: 50%">
                </div>
                <div class="col-md-6 social-container my-2">                 <p> Signed in via:  {{ ass.provider }} </p>
                    <p> Name:  {{ ass.extra_data.name }} </p>

                </div>
            {% endif %}
        {% endfor %}
        <a href="{% url 'logout'%}?next={{request.path}}">logout</a>
        <link rel="stylesheet" href="{% static 'myform/index.css' %}">
        <div class="even-box">
            <div class="lb-header">
                <i>Even List</i>
            </div>
            {% for event in event_list %}
                <li>{{event.event_name}}</li>
            {% endfor %}
        </div>
        <div class="even-box1">
            <div class="lb-header">
                <s>My Event</s>
            </div>
            <button class="btn Event"><a href="{% url 'myform:create' %}">+ Create Event</a></button>
        </div>
    {% endif %}
{% endblock %}

