{% load static %}
{% block content %}
        <div style="position: absolute; left: 1160px; top: 10px; font-size: 0.9rem;">
            <p>Hello {{ user.first_name|default:user.username}}!</p>
        </div>



        <link rel="stylesheet" href="{% static 'myform/index.css' %}">
        <style>
                               
            div.scrollmenu {
            background-color: #333;
            overflow: auto;
            white-space: nowrap;
            }

            div.scrollmenu a {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 14px;
            text-decoration: none;
            }

            div.scrollmenu a:hover {
            background-color: #777;
            }
        </style>


        <div class="scrollmenu">
            <a href="{% url 'myform:event' %}">Event</a>
            <a href="{% url 'myform:contact' %}">Contact</a>
            <a href="{% url 'logout'%}?next={{request.path}}">Logout</a>
            <div style="position: absolute; left: 1160px; top: 10px; font-size: 0.9rem; color:white;"> 
                <p>Hello {{ user.first_name|default:user.username}}!</p>
            </div>
        </div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <link rel="stylesheet" href="{% static 'myform/index.css' %}">
        <div class="even-box">
            <div class="lb-header">
                <i>Even List</i>
            </div>
            {% for event in event_list %}
                <li><a href="{% url 'myform:evaluator' event.id %}">{{ event.event_name }}</a></li>
            {% endfor %}
        </div>
        <div class="even-box1">
            <div class="lb-header">
                <s>My Event</s>
            </div>
            {% for event in my_event %}
                <li><a href="{% url 'myform:edit' event.id %}">{{ event }}</a></li>
            {% endfor %}
            <button class="btn Event"><a href="{% url 'myform:create' %}">+ Create Event</a></button>
        </div>

{% endblock %}
