<link rel="stylesheet" href="login.css"> 
<script src="login.js"></script>
<div class="login-box">
  <div class="lb-header">
    <a href="#" class="active" id="login-box-link">Login</a>
    <a href="file:///Users/mac/Desktop/myform/myform/templates/registration/%232signup.html" id="signup-box-link">Sign Up</a>
  </div>
  <div class="social-login">
    <a href="#">
      <i class="facebook"></i>
      Facebook
    </a>
    <a href="#">
      <i class="google-plus"></i>
      Google +
    </a>
  </div>
  <form class="username-login">
    <div class="u-form-group">
      <input type="username" placeholder="username"/>
    </div>
    <div class="u-form-group">
      <input type="password" placeholder="Password"/>
    </div>
    <div class="u-form-group">
      <button>Log in</button>
    </div>
    <button class="btn Entersite">Entersite</button>
  </form>
</div> 

