{% load static %}
<link rel="stylesheet" href="{% static 'myform/login.css' %}"> 
<div class="login-box">
  <div class="lb-header">
    <a href="#" class="active" id="login-box-link">Login</a>
    <a href="{% url "myform:signup" %}" id="signup-box-link">Sign Up</a>
  </div>
  <div class="social-login">
    <a href="#">
      <i class="facebook"></i>
      Facebook
    </a>
    <a href="#">
      <i class="google-plus"></i>
      Google +
    </a>
  </div>
  <form class="username-login">
    <div class="u-form-group">
      <input type="username" placeholder="username"/>
    </div>
    <div class="u-form-group">
      <input type="password" placeholder="Password"/>
    </div>
    <div class="u-form-group">
      <button>Log in</button>
    </div>
    <!-- <button class="btn Entersite">
      <a href="{% url "myform:event" %}">
        Entersite</a>
    </button> -->
    <div style="position: absolute; left: 730px; top: 456px;"> 
        <a href="{% url "myform:event" %}">
             <img src="{% static 'myform/images/entersite.png' %}" width="110" height="64">
        </a>
      </div>
  </form>
</div> 

