<head>
    <link rel="stylesheet" href="signup.css"> 
<body background="bg.jpg">
<form action="action_page.php" style="border:1px solid #ccc">
        <div class="container">
          <h1>Sign Up</h1>

          <label for="user"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="user" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
      
          <label for="psw-confirm"><b>Password Confirmation</b></label>
          <input type="password" placeholder="Password Confirmation" name="psw-repeat" required>
      
      
          <div class="clearfix">
            <button type="submit" class="signupbtn">Sign Up</button>
          </div>
        </div>
</form>
<p style="color:white">- Required 150 characters or fewer.Letters,digits and @/./+/_ only</p>
<p style="color:white">- Your password can't be too similar to your other personal information</p>
<p style="color:white">- Your password must contain at least 8 characters</p>
<p style="color:white">- Your password can't be a commonly used password</p>
<p style="color:white">- Your password can't be entirely numeric</p>

</body>
</head>
