<link rel="stylesheet" href="login.css">
<div class="login-box">
  <div class="social-login">
    <a href="#">
      <b class="facebook"></b>
      Facebook
    </a>
    <a href="#">
      <b class="google-plus"></b>
      Google +
    </a>
  </div> 
  <form class="username-signup">
    <div class="u-form-group">
      <input type="username" placeholder="username"/>
    </div>
    <div class="u-form-group">
      <input type="password" placeholder="Password"/>
    </div>
    <div class="u-form-group">
      <input type="password" placeholder="Confirm Password"/>
    </div>
    <div class="u-form-group">
      <button>Sign Up</button>
    </div>
</div>
</form>

