{% load static %}

<link rel="stylesheet" href="{% static 'myform/login.css' %}">
<div class="login-box">
  <div class="lb-header">
    <a class="active" id="login-box-link" href="{% url 'login' %}">Login</a>
    <a href="{% url 'signup' %}" id="signup-box-link">Sign Up</a>
  </div>
  {% if user.is_authenticated %}
    <div style="position: absolute; left: 400px; top:330px;">
      <a href="{% url 'myform:event' %}">
          <img src="{% static 'myform/images/entersite.png' %}" width="100" height="54">
      </a>
   </div>
  {% else %}
    <form class="social-login">
      <a href="{% url 'social:begin' 'facebook' %}">
        <i class="facebook"></i>
        Login with Facebook
      </a>
      <a href="{% url 'social:begin' 'google-oauth2' %}">
        <i class="google-plus"></i>
        Login with Google +
      </a>
    </form>
    <form method="post" class="username-login" action="{% url 'login'%}?next={{request.path}}">
      {% csrf_token %}
      <div class="u-form-group">
        <input name='username' type="text" placeholder="username"/>
      </div>
      <div class="u-form-group">
        <input name='password' type="password" placeholder="password"/>
      </div>
      <div class="u-form-group">
        <button type="submit">Log in</button>
        <input type="hidden" name="next" value="{{next}}"/>
      </div>
      {% for message in messages %}
            <div class="alert alert-danger">
              <a class="close" href="#" data-dismiss="alert"></a>{{ message }}
            </div>
      {% endfor %}
    </form>
        <div style="position: absolute; left: 210px; top: 415px;">
            <a href="{% url 'myform:event' %}">
                <img src="{% static 'myform/images/entersite.png' %}" width="100" height="54">
            </a>
        </div>
  {% endif %}
</div>
